body {
    background-color: darkgrey;
}

.person {
    border: 1px solid black;
    position: relative;
    width: 200px;
    height: auto;
    padding: 5px;
    border-bottom-right-radius: 70px;
    background-color: azure;
}

.person div {
    position: relative;
    width: 100px;
    height: 50px;
    padding: 2px;
    margin-left: 60px;
    margin-top: 15px;
    text-align: left;
}

.message {
    border: 1px solid green;
    border-radius: 40px;
    margin-left: 250px;
    position: relative;
    padding: 10px;
    height: auto;
    width: 500px;
    background-color: azure;
}

.karusel {
    background: url("../img/karusel.png") no-repeat;
    width: 100px;
    height: 100px;
    background-size: cover;
}

.list {
    padding: 10px;
    margin-top: 65px;
    position: relative;
    border: 1px solid black;
    background-color: azure;
    height: auto;
    width: 500px;
    margin-left: 242px;
}

.done-true {
    text-decoration: line-through;
    color: grey;
}

.mess-true {
    background-color: cornsilk;
    border: 1px solid black;
    border-radius: 50px;
    cursor: pointer;
}

input {
    font: 16px bold;
    color: #444;
    display: inline-block;
}

li {
    list-style-type: none;
}

.read-true {
    display: block;
    background: url("../img/read.png") no-repeat;
    width: 35px;
    height: 35px;
    background-size: cover;
    margin-left: 450px;
    margin-top: -38px;
}

.navig {
    position: relative;
    width: auto;
    height: 50px;
    background-color: cornflowerblue;
    border-radius: 10px;
}

.nav-link li {
    float: left;
}

.nav-link a {
    display: block;
    padding: 1em;
    border-right: 1px solid #ADC0CE;
    background: rgba(173, 192, 206, .3);
    color: #29838C;
}

.nav-link a:hover {
    background: #ADC0CE
}
