<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="main" ng-controller="MainController as main">
        <div class="person">
            Name: {{main.person.name}}
            <br> Surname: {{main.person.surname}}
            <br> Age: {{main.person.age}}
            <div>
                Номер аккаунта: {{main.list.id}}
            </div>
            <br>
            <center>
                <button class="karusel" ng-click="main.random()"> </button>
            </center>
        </div>

        <div class="message">

            <h1>You have [{{main.countMess}}/{{main.messages.length}}] messages:</h1>
            <span ng-repeat="message in main.messages ">
             <br>

            <span ng-click="main.onRead($index)" ng-mouseleave="flag = false" ng-mouseover="flag = true" class="mess-{{flag}}" >{{message.mess}}

            <span class="read-{{message.flag}}"></span>
            </span>

            <br>
            </span>
        </div>
        <div class="list">
            <center>
                <h3>This is your TODO list, {{main.person.name}} </h3>
                <p>Поиск :
                    <input type="text" ng-model="seach">

                </p>
            </center>
            <li ng-repeat="todo in main.list.todo | filter:{name:seach}">
                <label class="checkbox">
                    <input type="checkbox" ng-model="todo.flag">
                    <span class="done-{{todo.flag}}">{{todo.name}}


                    </span>
                </label>
            </li>
            <form ng-submit="main.addTodo()">

                <br>
                <center>
                    Enter text:
                    <input type="text" ng-model="main.todoText" size="20" placeholder="add new todo here">
                    <input type="submit" value="add">
                </center>
            </form>
        </div>

    </div>
    <script src="js/main.js"></script>
    <script src="js/controller/main.controller.js"></script>
    <script src="js/modules/helpers.module.js"></script>
    <script src="js/services/data.service.js"></script>
    <script src="js/services/pathFactory.service.js"></script>
    <script src="js/modules/list.module.js"></script>
    <script src="js/modules/message.module.js"></script>
    <script src="js/services/list.service.js"></script>


</body>

</html>
