<div class="list">
    <center>
        <h3>This is your TODO list, {{main.person.name}} </h3>
        <p>Поиск :
            <input type="text" ng-model="seach">

        </p>
    </center>
    <li ng-repeat="todo in main.list.todo | filter:{name:seach}">
        <label class="checkbox">
            <input type="checkbox" ng-model="todo.flag">
            <span class="done-{{todo.flag}}">{{todo.name}}


                    </span>
        </label>
    </li>
    <form ng-submit="main.addTodo()">

        <br>
        <center>
            Enter text:
            <input type="text" ng-model="main.todoText" size="20" placeholder="add new todo here">
            <input type="submit" value="add">
        </center>
    </form>
</div>
